html {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter';
    color: white;
    line-height: 20px;
}
    /* font-family: 'Bebas Neue', sans-serif; */
.fontBebas {
    font-family: 'Bebas Neue', sans-serif;
}